@charset "utf-8";

.hidden{
	display: none;
}
/*Start Index Styling*/
#container{
	display: block;
	flex-wrap: wrap;
	width:1200px; 
	height:1449px;
	text-align: center;
	color: white;
	font-family: "Arial";
	font-size: 24px;
	background-color:#1B3E77; 
	margin: 0 auto;
}
#containerShort{
	display: block;
	flex-wrap: wrap;
	width:1200px; 
	height:1349px;
	text-align: center;
	color: white;
	font-family: "Arial";
	font-size: 24px;
	background-color:#1B3E77; 
	margin: 0 auto;
}
.header{
	width: 1200px;
	height: 151px;
	background-color: #ffffff;
}
.mainNav{
	width: 1110px;
	height: 120px;
	z-index: 1;
	object-fit: cover;
	margin-top: 60px;
	margin-left: 40px;
	background-image: url("../images/MainNav.png");
}
.mainNav li{
	display: inline;
	float: left;
	padding-top: 50px;
	padding-left: 80px;
}
.mainNav li:nth-child(2){
	padding-left: 40px;
}
.mainNav li:nth-child(3){
	padding-left: 280px;
}
.mainNav li:hover{
	color: red;
	transform: scale(1.01);
	transition: ease 0.5s;
}
.logo{
	width: 235px;
	height: 194px;
	position: absolute;
	top: 30px;
	left: 555px;
	z-index: 2;
}
.headBanner{
	width: 1200px;
	height: 300px;
	margin-top: 30px;
}
#promoImg{
	display: inline-block;
	float: left;
	margin-left: 76px;
	margin-top: 88px;
	width:612px;
	height: 367px;
	overflow: hidden;
	
}
#promoImg figure img{
	width: 30%;
	float:left;
}
#promoImg figure{
	position: relative;
	width: 333.5%;
	margin: 0;
	left: 0;
	animation: 20s promoImg infinite;
}
@keyframes promoImg {
	0%{left:0;}
	10%{left: 0}
	33.33%{left:-100%;}
	45%{left: -100%;}
	66.66%{left: -200%;}
	80% {left: -200%;}
	100%{left: 0;}
}

#promoTxt{
	display: inline-block; 
	margin-top: 87px;
	width: 362px;
	height: 362px;
	background-image: url("../images/about.png");
}
#promoTxt h4{
	margin-top: 30px;
}
#promoTxt p{
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	margin-top: 20px;
}
#img{
	margin:auto;
	margin-top: 60px;
	width: 725px;
	height: 80px;
	background-image: url("../images/product_banner.png");
}
#img h3{
	padding-top: 15px;
	font-size: 50px;
}
#prodOne{
	display: inline-block;
	margin-left:161px; 
	margin-top: 80px;
	float: left;
}
#prodOne:hover{
	transform: scale(1.03);
	transition: ease 1s;
}
#prodTwo{
	display: inline-block;
	width: 264px;
	height: 367px;
	margin:auto;
	margin-top: 80px;
}
#prodTwo:hover{
	transform: scale(1.03);
	transition: ease 1s;
}


#prodThree{
	display: inline-block;
	width: 264px;
	height: 367px;
	float: right;
	margin-right: 161px;
	margin-top: 80px;
}
#indexBtn{
	margin-top: 50px;
	height: 50px;
	width:150px;
	margin-left: -30px;}
#prodThree:hover{
	transform: scale(1.03);
	transition: ease 1s;
}
.footer{
	display: inline-block;
	background-color: white;
	width:1200px;
	height:212px;
	margin-top: 60px;
	text-decoration: none;
	color: black;
}

/*End Index Styling*/

/*art*/
.rowOne{
	display: flex;
	justify-content: space-around;
	margin-top: 150px;
	z-index: 1;
	margin-left: 100px;
}


.artLeft{
	position: absolute;
	z-index: 2;
	margin-left: -980px;
	margin-top: 40px; 
	max-width: 250px;
	height: auto;
}
.artCenter{
	position: absolute;
	z-index: 2;
	margin-top: 40px; 
	max-width: 250px;
	height: auto;
	margin-left: -680px;
}
.artRight{
	position: absolute;
	z-index: 2;
	margin-left: -370px;
	margin-top: 40px;
	max-width: 250px;
	height: auto; 
}
.artLeft:hover{
	animation: 3s artLeft infinite;

}
.artCenter:hover{ 
	animation: 3s artCenter infinite;
}
.artRight:hover{
	animation: 3s artRight infinite;
}
@keyframes artLeft{
	0%{transform: translateY(0px);}
	50%{transform: translateY(-20px);}
	100%{transform: translateY(0px);}	
}
@keyframes artCenter{
	0%{transform: translateY(0px);}
	50%{transform: translateY(-20px);}
	100%{transform: translateY(0px);}	
}
@keyframes artRight{
	0%{transform: translateY(0px);}
	50%{transform: translateY(-20px);}
	100%{transform: translateY(0px);}	
}
.rowTwo{
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
	margin-left: 100px;
}
#artBtn{
	margin-top: 100px;
	height: 40px;
	width: 150px;
}
/*contact*/
#contactBanner{
	background-image:url("../images/product_banner.png");
	width: 728px;
	height: 82px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 60px;
}

#contactBox{
	background-image: url("../images/contact.png");
	width:831px; 
	height:667px;
	margin:0 auto;
	margin-top: 80px;
}
#contactBox button{
	margin-top: 30px;
	height: 40px;
	width: 120px;
}
input {
	background-color: lightgrey;
	height: 50px;
	width: 391px;
	flex-wrap: wrap;
	margin-top: 100px;
}
input:nth-child(3){
	width:800px;
	margin-left: 5px;
	margin-top: 10px;
}
textarea{
	background-color: lightgrey;
	width: 800px;
	height: 300px;
	margin-top: 10px;
}
/*Locations*/
.location{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}
#locBanner{
	background-image: url("../images/product_banner.png");
	width: 728px;
	height: 82px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 60px;
}
#locTxt{
	background-image: url("../images/locationTxt.png");
	width: 601px;
	height: 407px;
	margin-top: 70px;
	color: black;
	font-size: 16px;
}
#locTxt p{
	margin-top: 50px;
	text-align: left;
	width: 500px;
	margin-left: 40px;

}
#locTxt p:nth-child(4){
	width: 250px;

}
#locTxt h4{
	color: red;
	font-size: 18px;
	text-align: left;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: -40px;
}
#map{
	background-image: url("../images/map.png");
	width: 445px;
	height: 396px;
	margin-top: 75px;
}
#brook{
	background-image: url("../images/brooklyn.png");
	width: 1096px;
	height: 225px;
	margin-top: 20px;
	font-size: 60px;
}
#brook h3{
	margin-top: 80px;
}
/*beer*/
#beerBanner{
	background-image: url("../images/product_banner.png");
	width: 728px;
	height: 82px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 60px;
}
.beerProd{
	
}
.FirstRow{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 80px;
}
.SecRow{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
}
